@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Yleistä */
body {
    background-color: #f1f1f1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "lato", sans-serif;
}

.btn {
    margin: 2px 0px;
}

/* Navigaatio */
nav {
    background-color: darkslategray;
}

nav .active {
    background-color: lightblue;
}

/* Pudotusvalikko */
.dropdown {
    position: relative;
}

.dropdownbtn {
    background-color: rgb(160, 54, 160);
    color: white;
    border: none;
}

.dropdownbtn:hover {
    background-color: rgb(146, 49, 146);
    color: white;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a {
    float: none;
    color: black;
    padding: 7px 8px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #a8a8a8;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.bi-cart-fill {
    color: white;
    font-size: 1.5rem;
    margin: 0px 15px;
}

/* Tilin luonti- ikkuna */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
  
.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 80%;
}

.sulje {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
.sulje:hover,
.sulje:focus {
    color: red;
    cursor: pointer;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
  
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.clearfix button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    float: left;
    opacity: 0.9;
}

.clearfix button:hover {
    opacity:1;
}

.clearfix .peruutaNappi {
    padding: 14px 20px;
    background-color: #f44336;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


form div.incorrect input {
    border-color: #f06272;
}

.form-message {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px;
    text-align: center;
}

.toast-message {
    visibility: hidden;
    min-width: 250px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    top: 20px;
    right: 20px;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
}

.toast-message.show {
    visibility: visible;
    opacity: 1;
    top: 40px;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* Kaavakkeet */
form {
    border: 3px solid #f1f1f1;
}
  
input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.kassa {
    width: 60%;
    margin-bottom: 100px;
}

.kassa form {
    background-color: #c9c8c8;
    padding: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.kassa form > div > input[type=text] {
    margin: 5px;
}

#postiNumero {
    width: 30%;
}

#summary {
    background-color: #c9c8c8;
    padding: 16px;
    border: gray solid 1px;
    border-radius: 5px;
}

#summary button {
    width: 80%;
    background-color: rgb(17, 118, 180);
    border-radius: 5px;
    color: white;
    padding: 8px, 16px;
    border: none;
    font-size: 1.3rem;
    margin-top: 10px;
    opacity: 0.9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#summary button:hover {
    opacity: 1;
}

.maksutavat {
    border-left: lightgrey solid 2px;
    margin: 2rem 0rem;
}

.maksutavat li {
    width: 90%;
    margin: 2px 0px;
    padding: 8px;
    background-image: linear-gradient(0deg, rgb(74, 195, 195), rgb(76, 228, 228));
    border-radius: 5px;
}

.maksutavat > li:hover {
    background-image: linear-gradient(0deg, rgb(66, 172, 172), rgb(76, 228, 228));
    cursor: pointer;
}

.maksutavat > li > label:hover,
.maksutavat > li > input:hover {
    cursor: pointer;
}

#vahvistaTiedot {
    width: 80%;
    background-color: rgb(17, 118, 180);
    border-radius: 5px;
    color: white;
    padding: 8px, 16px;
    border: none;
    font-size: 1.3rem;
    margin-top: 10px;
    opacity: 0.9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#tilausNappi:hover {
    opacity: 1;
}

.kassaBorder {
    border: red solid 2px !important;
}

/* Kirjaudu sisään- ikkuna */
#id01 {
    width: 460px;
    height: 230px;
    background-color: #bdbcbc;
    position: absolute;
    z-index: 1;
    right: 0;
    overflow: auto;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

#id01 input {
    width: 95%;
    padding: 8px 12px;
    margin: 5px 5px;
    display: inline-block;
    border-radius: 5px;
}

#id01 form {
    border: none;
}

#id01 button {
    background-color: #058d5b;
    color: white;
    padding: 8px 10px;
    margin: 5px 0px;
    border: none;
    cursor: pointer;
    float: left;
    opacity: 0.9;
    border-radius: 50px;
}

#id01 button:hover {
    opacity: 1;
}

.suljedd {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

.suljedd:hover,
.suljedd:focus {
    color: red;
    cursor: pointer;
}

/* Kirjautumisikkunan ja ylös- nuolen animaatio */
.hide {
    display: none;
    opacity: 0;
    
}

.show {
    display: block;
    opacity: 1;
    transition: all 0.3s ease allow-discrete;
}
/* VSC voi valittaa ettei tunnista @starting-style sääntöä mutta kyllä se toimii */
@starting-style {
    .show {
        opacity: 0;
        translate: 0 -35px;
    }
}

/* Palaa ylös- nappi */ 
.upArrow {
    font-size: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px 20px;
}

.upArrow i {
    color: #04AA6D;
}

.esineet {
    width: 340px;
    height: 380px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 10px;
}

/* Footer */
footer {
    margin-top: auto;
    bottom: 0;
    left: 0;
    padding: 30px;
    width: 100%;
    background-color: #000;
    color: white;
}

#footerNav {
    list-style: none;
    display: flex;
}

#footerNav a {
    color: white;
    text-decoration: none;
    margin: 0px 3px;
    opacity: 0.8;
}

#footerNav a:hover {
    text-decoration: underline;
    opacity: 1;
}

/* Mobiili */
@media screen and (max-width: 720px) {
    .clearfix button {
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
    #id01 {
        width: 100%;
        position: relative;
    }

    #id01 button {
        width: 100%;
    }

    .kassa {
        width: 100%;
    }

    .dropdown {
        width: 100%;
    }

    .dropdown .btn{
        width: 100%;
    }

    .dropdownContent {
        width: 100%;
    }

   .dropdownContent a {
        border-bottom: 1px black solid;
    }

    .dropdownContent a:last-child {
        border-bottom: none;
    }

    .ms-auto {
        margin-left: 0 !important;
        width: 100%;
    }

    #navNapit > .btn {
        width: 100%;
    }

    #footerNav {
        display: block;
    }

    .bi-cart-fill {
        top: 5px;
        right: 5px;
        position: absolute;
        font-size: 1.7rem;
    }
}